.w-full.h-full.flex.flex-col.md:flex-row{ "data-controller" => "participant", "data-participant-target" => "participant" }
  / First Column
  - if @ref
    - @surveys = [@surveys[@ref]]
  = render 'participant_portal/partials/surveyscol', s: @surveys, selected: @fill.id
  / Second Column
  = render 'participant_portal/partials/questionscol', s: @fill
