.w-full.flex-grow.flex.flex-col.py-4.md:flex-row{ "data-controller" => "participant", "data-participant-target" => "participant" }
  - if @active
    - if current_user.profile.aasm_state == 'rejected'
      = render 'participant_portal/partials/rejected'
    - else
      = render 'participant_portal/partials/study_active'
  - else
    = render 'participant_portal/partials/no_study_active'
