.w-full.h-full.flex.flex-col.py-4.md:flex-row{ "data-controller" => "participant", "data-participant-target" => "participant" }
  - if @active
    = render 'participant_portal/partials/study_active'
  - else
    = render 'participant_portal/partials/no_study_active'
