.container.py-16.w-full.h-full.flex.flex-col.md:flex-row{ "data-controller" => "participant", "data-participant-target" => "participant" }
  %section.flex.flex-col.justify-center.items-center.w-full.h-sull
    = link_to "Pay", process_payment_path, class: 'text-center border-2 border-blue-500 px-3 py-2'
