.w-full.h-full.flex.flex-col.justify-center.text-2xl
  .flex.flex-row.items-center.justify-center.text-green-500
    .span.w-56.text-center
      Fill Profile Info
  .flex.flex-row.items-center.justify-center.p-2
    - unless current_user.profile.aasm_state == 'consented'
      = link_to consent_path do
        .span.w-56.text-center Agree to Regulation
    - else
      .span.w-56.text-center.text-green-500 Agree to Regulation
  .flex.flex-row.items-center.justify-center.p-2
    .span.w-56.text-center
      Fill Survey #1
  .flex.flex-row.items-center.justify-center.p-2
    .span.w-56.text-center
      Fill Survey #2
  .flex.flex-row.items-center.justify-center.p-2
    .span.w-56.text-center
      Fill Survey #3
  .flex.flex-row.items-center.justify-center.p-2
    .span.w-56.text-center
      Fill Survey #4
  .flex.flex-row.items-center.justify-center.p-2
    .span.w-56.text-center
      Fill Survey #5
  .flex.flex-row.items-center.justify-center.p-2
    .span.w-56.text-center
      Fill Survey #6
  .flex.flex-row.items-center.justify-center.p-2
    .span.w-56.text-center
      Registration Fee
  .flex.flex-row.items-center.justify-center.p-2
    .span.w-56.text-center
      Book Appointment

