.w-full.h-full.flex.flex-col.py-4.md:flex-row{ "data-controller" => "participant", "data-participant-target" => "participant" }
  .flex.flex-col.justify-center
    - @studies.each do |s|
      s.title
