.w-full.h-full.flex.flex-col.py-4.md:flex-row{ "data-controller" => "participant", "data-participant-target" => "participant" }
  / Surveys Section
  .h-full.w-full.flex.flex-col.bg-gray-300.rounded-xl.justify-space-between.items-center.p-2
    %span.w-full.flex-grow.flex.flex-col.pb-2
      / Title
      .text-sm.text-gray-600.mb-3.text-center.capitalize.md:text-2xl #{@surveys.count} Pending Surveys
      - if @surveys.empty?
        .w-full.text-center.flex.flex-col.justify-center.flex-grow
          You don't have any surveys right now
      - else
        / Cards
        = render 'participant_portal/partials/surveylist', s: @surveys
