.flex.flex-row.w-full.p-10.font-medium.justify-center.sm:text-xl.lg:text-2xl
  %p.p-2.sm:p-4 Profile
  %p.p-2.sm:p-4  Billing 
  %p.p-2.sm:p-4  Surveys 
  %p.p-2.sm:p-4  Appointments
  %p.p-2.sm:p-4  Support