.flex.flex-row.w-full.justify-center
  .flex.flex-col.items-center
    = image_tag 'participant_portal/QR code.png', size: "360x360", alt: 'QR image'
    %p.text-xl 12345678
  .flex.flex-row.flex-shrink-0.mt-6.sm:mt-8.md:mt-10 
    .flex.text-blue-500.font-medium.sm:text-xl Edit Profile Information
    %div
      = image_tag 'participant_portal/pencil icon.png', size: "20x10", alt: 'pencil icon', class: "ml-2 h-5 sm:h-6" 