.w-full.flex-grow.overflow-y-auto.h-24
  = form_for local_assigns[:q], url: update_filled_survey_path(local_assigns[:q].id), html: { data: { 'participant-target' => "#{q.id}_form" } } do |form|
    - local_assigns[:q].answers.each do |q|
      .rounded-md.bg-gray-100.opacity-75.flex.items-center.justify-between.mb-2.p-2.relative
        %span.flex-grow
          = render "components/inputs/#{q.question.question_type.name}", q: q, form: form
