.h-full.flex.flex-col.px-1.mb-2.md:mb-0{class: 'w-1/4'}
  / Surveys Section
  .h-full.flex.flex-col.bg-gray-300.rounded-xl.justify-space-between.items-center.p-2
    %span.w-full.h-full.flex-grow.flex.flex-col.pb-2
      / Title
      .text-sm.text-gray-600.mb-3.text-center.capitalize.md:text-2xl #{local_assigns[:s].count} Pending Surveys
      - if local_assigns[:s].empty?
        .w-full.text-center.flex.flex-col.justify-center.flex-grow
          You don't have any surveys yet
      - else
        / Cards
        = render 'participant_portal/partials/surveylist', s: @filled_survey || local_assigns[:s], selected: local_assigns[:selected]
