.flex.flex-col.items-center
  .py-4.font-medium{class:"w-full md:w-3/4"} 
    You have 1 survey left to fill
  .grid.grid-rows-3.justify-items-center.bg-gray-400.justify-around.items-center.border-2.border-gray-500.text-center.sm:grid-cols-3.grid-rows-none{class:"w-full md:w-3/4"}
    %div.p-4.md:text-xl.lg-text-2xl.xl:text-3xl
      University of Deez
    %div.p-4.lg:text-xl.2xl:text-2xl
      16 Questions
    .mb-4.font-serif.sm:mb-px
      = link_to 'Open', "#", class: "py-1 px-8 bg-gray-300 rounded-2xl xl:text-xl"