.flex.flex-row.items-center.justify-center.text-green-500
  .span.w-56.text-center Fill Profile Info
.flex.flex-row.items-center.justify-center.p-2.text-green-500
  .span.w-56.text-center Agree to Regulation
.flex.flex-row.items-center.justify-center.p-2.text-green-500
  .span.w-56.text-center Fill Survey #1
.flex.flex-row.items-center.justify-center.p-2.text-green-500
    .span.w-56.text-center Fill Survey #2
.flex.flex-row.items-center.justify-center.p-2
  = link_to fill_survey_path @surveys[0].id, ref: 3 do
    .span.w-56.text-center Fill Survey #3
.flex.flex-row.items-center.justify-center.p-2
  .span.w-56.text-center Fill Survey #4
.flex.flex-row.items-center.justify-center.p-2
  .span.w-56.text-center Fill Survey #5
.flex.flex-row.items-center.justify-center.p-2
  .span.w-56.text-center Fill Survey #6
.flex.flex-row.items-center.justify-center.p-2
  .span.w-56.text-center Registration Fee
.flex.flex-row.items-center.justify-center.p-2
  .span.w-56.text-center Book Appointment

