/ Modal Container
.hidden.animated.fadeIn.fixed.inset-0.overflow-y-auto.flex.items-center.justify-center{"data-action" => "click->modal#closeBackground keyup@window->modal#closeWithKeyboard", "data-modal-target" => "container", style: "z-index: 9999;"}
  / Modal Inner Container
  .max-h-screen.w-full.max-w-lg.relative
    / Modal Card
    %div{"data-controller" => "tabs", "data-tabs-active-tab" => "bg-gray-300"}
      %ul.flex.justify-center.hidden
        %li.rounded-t-md{"data-action" => "click->tabs#change", "data-tabs-target" => "tab"}
          %a.bg-white.inline-block.py-2.px-4.text-blue-500.hover:text-blue-700.font-semibold.no-underline{:href => "#"}
            = t('devise.login')
        %li.rounded-t-md{"data-action" => "click->tabs#change", "data-tabs-target" => "tab"}
          %a.bg-white.inline-block.py-2.px-4.text-blue-500.hover:text-blue-700.font-semibold.no-underline{:href => "#"}
            = t('devise.signup')
      .hidden{"data-tabs-target" => "panel"}
        = render partial: 'pages/partials/signin_modal' 
      .hidden{"data-tabs-target" => "panel"}
        = render partial: 'pages/partials/signup_modal' 
    
