%p Edit this address:
= render 'addresses/form', address: address
%p= link_to 'Delete address', user_address_path(@user,address), method: :delete, class: 'form-submit bg-red-300 hover:text-red-500 hover:bg-red-300'
