.flex.px-10.py-20.sm:py-36.lg:px-20.lg:py-52
  .bg-white{class: "w-1/2"}
    - @material.each do |material|
      .flex-1.border-b-2.h-10.mt-2.text-base.sm:text-xl
        = material.cost
        zł (
        = material.weight
        grams)
        .flex-1border-b-2.h-8.float-right
          = image_tag 'dispensary_portal/info_icon.png', style: 'height:90%;width:auto;', alt: 'info', class: 'items-center pr-1 sm:pr-2 md:pr-4'
  .flex.flex-col.items-center.justify-center.text-2xl.md:text-2xl.lg:text-3xl.xl:text-4xl{class: "w-1/2"}
    %p.mb-10 Statement of Accounts
    %p= button_to "Generate Report", "#", class: 'rounded bg-gray-200 border border-gray-500 py-4 sm:px-6 md:px-10 lg:px-14 xl:px-20'
