.w-full.h-full.flex.flex-col.py-4.md:flex-row
  / First Column
  .h-full.flex.flex-col.px-1.flex-grow.mb-2.md:mb-0
    / Appointments Section
    .h-full.flex.flex-col.bg-gray-300.rounded-xl.justify-space-between.items-center.p-2.relative
      .h-7.w-7.absolute.top-2.right-4.bg-red-500.rounded-full.flex.justify-center.items-center.text-white 2
      %span.w-full.flex-grow
        / Title
        .text-sm.text-gray-600.mb-3.text-center.capitalize.md:text-2xl Pending Evaluations
        / Cards
        - 2.times do
          .w-full.h-14.rounded-md.bg-gray-100.opacity-75.flex.items-center.mb-2.px-2
  / Second Column
  .h-full.flex.flex-col.px-1.flex-grow
    / Evaluations Section
    .h-full.flex.flex-col.bg-gray-300.rounded-xl.justify-space-between.items-center.p-2.mb-2.relative
      %span.w-full.flex-grow.flex.flex-col
        / Title
        .text-sm.text-gray-600.mb-3.text-center.capitalize.md:text-2xl Appointments Details
        / Cards
        .w-full.flex-grow.rounded-md.bg-gray-100.opacity-75.flex.items-center.mb-2.px-2
      / Action Button Footer
      .w-full.text-black
        = link_to "Start Evaluation", "#", class: 'flex flex-grow justify-center bg-green-200 rounded-xl text-gray-700 py-4'
