.flex.flex-row.flex-wrap.bg-gray-300.rounded-2xl.my-4.py-4.md:mx-18.lg:mx-30
      = link_to 'Stock', "#", class:"md:ml-6 mx-3 hover:underline" 
      = link_to 'Restock', "#", class:"mx-3 hover:underline"
      = link_to 'Material', "#", class:"mx-3 hover:underline"
      = link_to 'Orders', "#", class:"md:mr-6 mx-3 hover:underline"