%p
  Witaj #{@resource.email}!
%p Jeśli chcesz zmienić hasło kliknij w link poniżej.
%p= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token, protocol: "https")
%p Jeśli to nie Ty zainicjowałeś reset hasła zignoruj tą wiadomość.
%p Twoje hasło nie zmieni się do czasu kliknięcia linku i zapisania nowego hasła.
